{
  "extends": [
    "standard",
    "standard-jsx"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "pragma": "h",
      "version": "16"
    }
  },
  "rules": {
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "curly": "error",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "keyword-spacing": [
      "error",
      {
        "before": true
      }
    ],
    "no-console": "off",
    "no-plusplus": "error",
    "no-unreachable": "warn",
    "no-unused-vars": "warn",
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "space-before-function-paren": [
      "error",
      "never"
    ],
    "space-infix-ops": "error",
    "react/jsx-no-bind": [
      "error",
      {
        "allowArrowFunctions": true,
        "allowBind": false,
        "ignoreRefs": true
      }
    ],
    "react/no-did-update-set-state": "error",
    "react/react-in-jsx-scope": "error"
  }
}
