extends layout.pug

block content
  section.box
    .box__sidebar
      h2.box__title About

    .box__content
      p Gatefold is a simple carbon offset site used by musicians who travel for a living. We ask our employers to pay these costs before we travel - these employers are festival promoters, venues, film directors, film companies, tv companies etc. We then tell other musicians to do the same. We then ask our fans and people in our network to do the same. We are using a network of musicians, promoters and fans which already exists, to directly affect our industry's carbon footprint.
