doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0')
    title Gatefold
    link(rel='stylesheet', href='/app.css')
  body
    header.box
      .box__sidebar
        h1.logo
          a.logo__link(href='/') Gatefold
      .box__content
        .caption A simple carbon offset for artists on the up.

        nav.navigation
          ul.navigation__list
            li.navigation__list-item
              a.navigation__list-item-link(href='/') Paid tokens
            li.navigation__list-item
              a.navigation__list-item-link(href='/tokens') Create new token
            li.navigation__list-item
              a.navigation__list-item-link(href='/about') About

    if flash
      if flash.error
        section.box
          .box__sidebar
            .flash-icon.flash-icon--error

          .box__content
            each message in flash.error
              .flash
                .flash__message.flash__message--error= message

      if flash.success
        section.box
          .box__sidebar
            .flash-icon.flash-icon--success

          .box__content
            each message in flash.success
              .flash
                .flash__message.flash__message--success= message

    main
      article
        block content

    footer.box.box--without-border
      .box__sidebar

      .box__content
        nav.navigation
          ul.navigation__list
            li.navigation__list-item
              a.navigation__list-item-link(href='/faq') FAQ
            li.navigation__list-item
              a.navigation__list-item-link(href='/privacy') Privacy
            li.navigation__list-item
              a.navigation__list-item-link(href='/imprint') Imprint
            li.navigation__list-item
              a.navigation__list-item-link(href='/contact') Contact

    script(type='text/javascript', src='/app.js')
