extends layout.pug

include mixins/component.pug
include mixins/error-field.pug
include mixins/input-field.pug

block content
  h2 New

  form.form(method='POST')
    +input-field('name', 'Name')
    +input-field('email', 'Email address', 'email')

    .form__group
      +error-field('from')
      +error-field('to')

      label.form__label(for='from') Flying route

      +component('CarbonCalculator', {
        from: fields ? fields.from : null,
        to: fields ? fields.to : null,
      })(class='form__input')

    button.form__submit(type='submit') Create
