extends layout.pug

block content
  h2 New

  form.form(method='POST')
    .form__group
      label.form__label(for='name') Name
      input.form__input(id='name', name='name', type='text')

    .form__group
      label.form__label(for='email') Email address
      input.form__input(id='email', name='email', type='email')

    .form__group
      label.form__label(for='from') From (Airport)
      .form__input(data-component="AirportSelector", data-props="{ \"name\": \"from\" }")

    .form__group
      label.form__label(for='to') To (Airport)
      .form__input(data-component="AirportSelector", data-props="{ \"name\": \"to\" }")

    button.form__submit(type='submit') Create
