extends layout.pug

block content
  h2 New

  form.form(method='POST')
    .form__group
      label.form__label(for='name') Name
      input.form__input(id='name', required, name='name', type='text')

    .form__group
      label.form__label(for='email') Email address
      input.form__input(id='email', required, name='email', type='email')

    .form__group
      label.form__label(for='calculator') Flying route
      .form__input(id='calculator', data-component="CarbonCalculator")

    button.form__submit(type='submit') Create
